@import url("../src/App.css");

header {
  position: relative;
  height: 80vh;
  width: 100%;
}

.header-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  filter: blur(8px);
}

.header-titles {
  position: absolute;
  top: 30%;
  left: 50%;
  padding-left: 4rem;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1;
  width: 100%;
}

.header-titles h1 {
  color: var(--branco);
  font-family: var(--fonte-principal);
  font-size: 3.4562rem;
  font-weight: 700;
  text-shadow: 0.125rem 0.125rem 0.5rem rgba(0.5, 0.5, 0.5, 0.7);
  margin: 0.2em 0;
}
