@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Cores do tema */
  --cor-principal: #fd810a;
  --cor-secundaria: #f4f4f4;
  --branco: #ffffff;
  --azul: #164ca8;
  --laranja: #eb5414;
  --preto: #000000;

  /* Fontes */
  --fonte-principal: "montserrat", sans-serif;
  --fonte-secundaria: "Roboto", arial;
  --terceira-fonte: "Space Mono", sans-serif;
  --quarta-fonte: "Arimo", monospace;
  --quinta-fonte: "Roboto Mono", monospace;
}
